@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #9195F6;
}

.main-panel{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 35rem;
  width: 25rem;
  background-color: #fafafa;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 2px #5659ad;
  font-weight: 700;
  color: #1c1c1c;
}

.main-panel h1{
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  color: #9195F6;
  margin-bottom: 1rem;
}

.text-box{
  margin: 1rem;
}

.text-box input{
  height: 2rem;
  width: 20rem;
  text-align: center;
  background-color: #dbdbdb;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 2px #929292;
}

.convert-from{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: .5rem;
  margin-bottom: 1rem;
}

.convert-from select{
  height: 2rem;
  width: 20rem;
  border: none;
  border-radius: 10px;
  text-align: center;
  background-color: #dbdbdb;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 2px #929292;
}

.convert-to{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: .5rem;
  margin-bottom: 1rem;
}

.convert-to select{
  height: 2rem;
  width: 20rem;
  border: none;
  border-radius: 10px;
  text-align: center;
  background-color: #dbdbdb;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 2px #929292;
}

.btn-container button{
  height: 3rem;
  width: 20rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  border: none;
  border-radius: 15px;
  font-size: 2rem;
  font-weight: 600;
  color: #fafafa;
  background-color: #FBA834;
  border: 3px solid #FBA834;
  cursor: pointer;
  transition: .5s;
}

.btn-container button:hover{
  color: #FBA834;
  background-color: #fafafa;
  border: 3px solid #FBA834;
  box-shadow: 1px 2px 5px 2px #bbbbbb;
}

.container-result{
  text-align: center;
}

.result{
  height: 3rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
  border-radius: 10px;
  background-color: #dbdbdb;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 2px #929292;
}

.result p{
  font-size: 1.2rem;
}